<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit {{user['first_name'] + " " + user['last_name']}}</title>
</head>
<body>
    <h1>Edit User {{user['first_name'] + " " + user['last_name']}}</h1>
    <form action="/update_user" method="POST">
        <input type="hidden" name="user_id" id="user_id" value={{user['id']}}>
        <label for="first_name">First Name: </label>
        <input type="text" name="first_name" id="first_name" value={{user['first_name']}}>
        <label for="last_name">Last Name: </label>
        <input type="text" name="last_name" id="last_name" value={{user['last_name']}}>
        <label for="email">Email: </label>
        <input type="text" name="email" id="email" value={{user['email']}}>
        <input type="submit" value="Save Changes">
    </form>
    <p><a href="/users">Back to Home</a></p>
</body>
</html>