<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Coding Dojo Wall</title>
</head>
<body>
    <div id="main-window" class="container mt-4">
        <div id="header" class="container d-flex justify-content-between">
            <h3>Coding Dojo Wall</h3>
            <div id="welcome-user">
                <h3 class="d-inline">Welcome {{user.first_name}}!</h3>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <hr>
        <div id="make-post-window" class="d-flex flex-column">
            <h4>What's on your mind? Create a new post: </h4>
            {% for message in get_flashed_messages(category_filter=["post_flash"]) %}
                <p class="text-danger">*{{message}}</p>
            {% endfor %}
            <form action="/make_post" method="POST" class="align-self-center d-flex flex-column">
                <input type="hidden" name="users_id" id="users_id" value="{{session["user_id"]}}">
                <textarea name="content" id="content" cols="80" rows="5"></textarea>
                <br>
                <input class="align-self-end mt-2 btn bg-info text-white" type="submit" value="Publish">
            </form>
        </div>
        <hr>
        <div id="community-posts-window">
            <h4 class="mb-4">All Community Posts</h4>
            <div id="community-posts" class="mt-4">
                {% for post in posts %}
                <div id="post" class="post d-flex flex-column">
                    <div id="post-content-w-btn" class="d-flex justify-content-between">
                        <div id="post-content">
                            <h6 class="fw-bold">{{post.creator.first_name + " - " + post.created_at.strftime("%B %d")}}</h6>
                            <p class="ms-4">{{post.content}}</p>
                        </div>
                        {% if post.creator.id == session['user_id'] %}
                            <form class="" action="/delete_post" method="POST">
                                <input type="hidden" name="post_id" id="post_id" value={{post.id}}>
                                <input class="btn bg-danger text-white" type="submit" value="Delete">
                            </form>
                        {% endif %}
                    </div>
                    {% for comment in post.comments %}
                        <div id="comment" style="margin-left: 100px">
                            <h6 class="fw-bold">{{comment.creator.first_name + " - " + comment.created_at.strftime("%B %d")}}</h6>
                            <p>{{comment.content}}</p>
                        </div>
                    {% endfor %}
                    <p style="margin-left: 80px">post a comment</p>
                    {% for messages in get_flashed_messages(category_filter=["comment_flash"]) %}
                        <p class="text-danger">{{messages}}</p>
                    {% endfor %}
                    <form style="margin-left: 80px" action="/make_comment" method="POST">
                        <input type="hidden" name="post_id" id="post_id" value="{{post.id}}">
                        <input type="hidden" name="user_id" id="user_id" value="{{session["user_id"]}}">
                        <textarea name="content" id="content" cols="60" rows="1"></textarea>
                        <input type="submit" value="Comment">
                    </form>
                </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>