<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Flask/MySQL</title>
</head>
<body>
    <h1>All My Friends</h1>
    {% for one_friend in all_friends %}
        <p>First Name: {{one_friend.first_name}}</p>
        <p>Last Name: {{one_friend.last_name}}</p>
        <p>Occupation: {{one_friend.occupation}}</p>
        <hr>
    {% endfor %}


    <h1>Add a Friend</h1>
    <form action="/create_friend" method="POST">
        <label for="fname">First Name:</label>
        <input type="text" name="fname">
        <label for="lname">Last Name:</label>
        <input type="text" name="lname">
        <label for="occ" >Occupation:</label>
        <input type="text" name="occ">
        <input type="submit" value="Add Friend">
    </form> 
</body>
</html>