<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Users</title>
</head>
<body>
    <div class="container d-flex flex-column gap-4 align-items-center bg-secondary">
        <h1>All Users</h1>
        <table class="table table-warning">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            <thead>
            <tbody>
                {% for user in all_users %}
                <tr>
                    <td>{{user['id']}}</td>
                    <td>{{user['first_name'] + " " + user['last_name']}}</td>
                    <td>{{user['email']}}</td>
                    <td>{{user['created_at']}}</td>
                    <td><a href={{"/users/" + user['id']|string}}>Show</a> | <a>Edit</a> | <a>Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a style="color: violet" href="users/new">Add a New User</a>
    </div>
</body>
</html>